
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1502885063348'); /* IE9*/
  src: url('iconfont.eot?t=1502885063348#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1502885063348') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1502885063348') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1502885063348#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiangyou:before { content: "\e600"; }

.icon-chakan:before { content: "\e622"; }

.icon-shouye:before { content: "\e620"; }

.icon-miaozhunjing:before { content: "\e624"; }

.icon-right:before { content: "\e601"; }

.icon-mulu:before { content: "\e6f8"; }

.icon-shizi:before { content: "\e602"; }

.icon-zhuyi1:before { content: "\e72e"; }

.icon-cha:before { content: "\e698"; }

.icon-tubiaozhizuomoban-copy:before { content: "\e604"; }

.icon-zhuyi:before { content: "\e610"; }

.icon-zhuye:before { content: "\e621"; }

.icon-xia:before { content: "\e60a"; }

.icon-zhuyi3:before { content: "\e606"; }

.icon-dao_cutter:before { content: "\e742"; }

.icon-hebingxingzhuang:before { content: "\e616"; }

