body{
	padding: 0;
	margin: 0;
	background-color: #eeeff0;
}
body a{
	text-decoration: none;
}
/*页眉*/
header{
	position: fixed;
        top: 0;
        left: 0;
        width: 100%;
	background-color: #5AC0CE;
	line-height: 3.2rem;
	height: 3.2rem;
}
.icon-tubiaozhizuomoban-copy{
	padding-top: 0.2rem;
	padding-left: 0.5rem;
	font-size: 1.8rem;
	color: white;
}
/*颈部 上次游戏*/
.neck{  
	padding-top: 1.8rem;
	color: #8C8C8C;
	font-size: 1.2rem;
	text-align: center;
	margin: 1.2rem 0 0 1.2rem;
	border: solid 1px #DCDCDC;
	background-color: white;
	line-height: 5rem;
	height: 5rem;
}
.icon-xiangyou{
	margin-right: 1vw;
	float: right;
	color: #CCCCCC;
	font-size: 2rem;
}
/*中间部分*/
main{
	margin: 1.2rem 0 0 1.2rem;
	background-color: white;
	border: solid 1px #DCDCDC;
}
.tgame{
	text-align: center;
	font-size: 1.8rem;
	line-height: 4rem;
	height: 4rem;
	border-bottom: solid 1px #FAA732 ;
	color: #FAA732;
}
.content-one{
       position:relative;
}
.simplify{
	height: 8.5rem;
}
.simplifyone{
	margin: 1.2rem 3rem 1rem 3rem;
	text-align: center;
	font-size: 1.8rem;
	color: white;
	background-color: #6dd2e9;
	line-height: 6rem;
	height: 6rem;
}
.simplify p{
	font-size: 1.2rem;
	text-align: center;
	color: #8C8C8C;
}
.icon-right{
	position: absolute;
	top: 46%;
	right: 0.5vw;
	font-size: 2.5rem;
	color: #FAA732;
}
/*四个小点*/
.btpart{
        padding-top: 0.5rem;
	width: 6rem;
	height: 2rem;
	margin: 1vh auto;
}

.btpart div{
	margin: 0.2rem 0.3rem 0  0.4rem;
	float: left;
	height: 0.8rem;
	width: 0.8rem;
	border-radius: 50%;
	background-color: #DCDCDC;
}
.btpart div:hover{
	background-color: #5AC0CE;
}
